/node_modules

# Ignore bundler config.
/.bundle/*

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
log
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore Spring files.
/spring/*.pid
node_modules

/public/packs
/public/packs-test
/yarn-error.log
yarn-debug.log*
.yarn-integrity
